@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";


@theme {
  --color-primary: #0b50da;
  --color-saffron: #FF9933;
  --color-gold: #D4AF37;
  --color-background-light: #FDFCF0;
  --color-background-dark: #101622;

  --font-display: var(--font-noto-serif), serif;
  --font-sans: var(--font-noto-sans), sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

/* Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-sans;
  }

  h1,
  h2,
  h3,
  .font-display {
    @apply font-display;
  }
}